<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {%block title%}
        Django App
        {%endblock%}
    </title>
    {% load static %}
    <link rel="stylesheet" href="{%static 'css/style.css' %}">
    <script src="{% static 'js/main.js' %}" defer></script>
</head>
<body>
    <nav>
        <a href="/">
            <span role = "img" aria-label = "Home" title = "Home" > 🏠 Home</span>
        </a> |

        <a href="/about/">
            <span role = "img" aria-label = "About" title = "About">😊 About</span>
        </a> | 

        <a href="{% url 'posts:list' %}">
            <span role = "img" aria-label = "Posts" title = "Posts">📰 Posts</span>
        </a> | 
    

        {% if user.is_authenticated %}
            <a href = "{% url 'posts:new-post' %}">
                <span role = "img" aria-label = "New Post" title = "New Post">🕰️ New </span>
            </a> | 

            <form class = "logout" action = "{% url 'users:logout' %}" method = "post" style = "display:inline">
                {% csrf_token %}
                <button class = "logout-button" aria-label = "User Logout" title = "User Logout" > 👋 Logout</button>
            </form>

            <a href = "{% url 'fitness:workout_log' %}">
                <span role = "img" aria-label = "Workout Log" title = "Workout Log">📒 Workout Log</span>
            </a> |

            <a href = "{% url 'profile_page:profile' %}">
                <span role = "img" aria-label = "Profile Page" title = "profile page">🏄‍♂️ Profile Page</span>
            </a>
        {% else %}
            <a href="/users/">
                <span role = "img" aria-label = "User Registration" title = "Users">🤵 Users</span>
            </a> | 

            <a href= "{% url 'users:login' %}">
                <span role = "img" aria-label = "User Login" title = "Login"> 📝 Login</span>
            </a> | 
        {% endif %}
    </nav>
    <main>
        {%block content%}
        {%endblock%}
    </main>
    
</body>
</html>